---
import HeadingH2 from "@Components/heading-h2/index.astro";
import Description from "@Components/description/index.astro";
import Work from "./Work.astro";
import FolderArrow from "./SVG/FolderArrow.astro";

// Types
import type { IWorks } from "@Types";
interface Props {
  data: IWorks;
}
// Props
const { description, works, ...heading } = Astro.props.data;
---

<section id="work" class="grid section overflow">
  <HeadingH2 data={heading} />
  <Description data={description} />
  <ul class="works__list">
    {works.map((work, index) => <Work data={work} index={index + 1} />)}
    <FolderArrow />
  </ul>
</section>

<style>
  .works__list {
    grid-column: 3 / -3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 360px));
    gap: var(--gap-72) var(--gap-16);
    justify-content: space-between;
  }

  @media screen and (max-width: 1420px) {
    .works__list {
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 1280px) {
    .works__list {
      grid-column: 2 / -2;
    }
  }
  @media screen and (max-width: 800px) {
    .works__list {
      grid-template-columns: 1fr;
    }
  }
</style>
