---
import HeadingH2 from "@Components/heading-h2/index.astro";

import type { IAboutSection } from "@Types";
interface Props {
  data: IAboutSection;
}

const { description, ...heading } = Astro.props.data;
---

<section id="about" class="grid section">
  <HeadingH2 data={heading} />
  <p class="description">{description}</p>
</section>

<style></style>
