---
import HeadingH2 from "@Components/heading-h2/index.astro";
import Description from "@Components/description/index.astro";

import type { IEducations } from "@Types";
interface Props {
  data: IEducations;
}

const { description, ...heading } = Astro.props.data;
---

<section id="education" class="grid section">
  <HeadingH2 data={heading} />
  <Description data={description} />
</section>

<style></style>
