---
import Layout from "@Layouts/Layout.astro";
import Header from "@Components/hero-section/Header.astro";
import { getLangFromUrl } from "@Utils/defaultLang.ts";

// Example: Construct a canonical URL using your production domain
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const lang = getLangFromUrl(Astro.url);

import FetchFromDatoCMS from "@Lib/datocms.ts";
const data = await FetchFromDatoCMS(lang);
// LOCAL DATA!!!
// import LocaleData from '@Lib/localdata';
// const data = await LocaleData(lang);
---

<!-- PAGE META TAGS -->
<meta name="description" content="Astro description" />
<!-- <title>{data._site.globalSeo.fallbackSeo.title}</title> -->
<link rel="canonical" href={canonicalURL} />

<!-- PAGE DOM ELEMENTS -->
<Layout title="Welcome to Astro.">
  <Header links={data.navigation} hero={data.heroSection} />
  <main></main>
</Layout>

<style></style>
