---
import DaisyFlowerFace from "@Components/services-section/SVG/DaisyFlowerFace.astro";
import DaisyFlowerLeafs from "@Components/services-section/SVG/DaisyFlowerLeafs.astro";
---

<div>
  <DaisyFlowerFace />
  <DaisyFlowerLeafs />
</div>
