---
import { getLangFromUrl } from "@Utils/defaultLang.ts";
const lang = getLangFromUrl(Astro.url);

import "@Styles/variable.css";
import "@Styles/fonts.css";
import "@Styles/global.css";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="alternate" href="https://www.letta.fi" hreflang="fi" />
    <link rel="alternate" href="https://www.letta.fi/en/" hreflang="en" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="googlebot" content="index, follow" />
    <meta name="robots" content="index, follow" />
    <meta
      name="keywords"
      content="letta, letta.fi, ui / ux designer, motion animation, interface animation, graphic design, logo creater, digital media artist, after effect master, motion and shape animator, character creator, figma, illustrator, photoshop, ui / ux -suunnittelija, liikeanimaatio, käyttöliittymäanimaatio, graafinen suunnittelu, logon luoja, digitaalisen median taiteilija, after Effect -mestari, liike- ja muotoanimaattori, hahmojen luoja, kuvittaja"
    />

    <meta name="generator" content={Astro.generator} />
    <meta name="rating" content="General" />

    <meta name="geo.region" content="FI" />

    <meta
      name="google-site-verification"
      content="H0uSTqaKvyYCig_6IA0D_Le4q6K8__tuSDHhYWX6htM"
    />

    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
