---
import DaisyFlowerFace from "./SVG/DaisyFlowerFace.astro";
import DaisyFlowerLeafs from "./SVG/DaisyFlowerLeafs.astro";
---

<div class="header__daisy-flower" aria-hidden="true">
  <DaisyFlowerFace />
  <DaisyFlowerLeafs />
</div>

<style>
  .header__daisy-flower {
    inline-size: clamp(180px, 35vw, 320px);
    aspect-ratio: 1;
    /* grid-row: 4 / 2 span; */
    grid-column: 4 span / -1;
    justify-self: flex-end;
    align-self: flex-end;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    animation: show-daisy 0.5s cubic-bezier(0, 0.64, 0.1, 1.08) forwards;
    animation-delay: 2s;
    pointer-events: none;
    z-index: -1;
    right: -15%;
  }

  @keyframes show-daisy {
    0% {
      opacity: 0;
      transform: translateY(10vh) scale(0.1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  /* MEDIA QUERIES */
  @media screen and (min-width: 1596px) {
    .header__daisy-flower {
      grid-column: 10 / span 4;
    }
  }
  @media screen and (max-width: 960px) {
    .header__daisy-flower {
      /* inline-size: clamp(180px, 35vw, 300px); */
      /* right: -10%; */
    }
  }

  @media (max-width: 559px) {
    .header__daisy-flower {
      grid-row: 5;
      /* inline-size: clamp(180px, 50vw, 300px); */
      /* right: -15%; */
    }
  }

  @media only screen and (orientation: landscape) and (max-device-height: 960px) {
    .header__daisy-flower {
      inline-size: 250px;
    }
  }
</style>
