---
import TopNavigation from "./TopNavigation.astro";
import CenterNavigation from "./CenterNavigation.astro";
import MainTitle from "./SVG/MainTitle.astro";
import DaisyFlower from "./DaisyFlower.astro";
import ArrowUnderMenu from "./SVG/ArrowUnderMenu.astro";

import type { INavigation, IHeroSection } from "@Types";

interface Props {
  links: INavigation;
  hero: IHeroSection;
}

const { links, hero } = Astro.props;
---

<header class="grid header">
  <TopNavigation />
  <ArrowUnderMenu extraClass="header__arrow-mobile" />
  <MainTitle />
  <h1 class="header__title color-white">
    {hero.title}
  </h1>
  <button class="header__button color-white" type="button">
    {hero.name.split(hero.style)}
    <strong class="color-purpul">{hero.style}</strong>
  </button>
  <CenterNavigation links={links.links} />
  <DaisyFlower />
</header>

<style>
  .header {
    block-size: 100dvh;
    grid-template-rows: auto repeat(3, min-content) auto;
    position: relative;
    overflow-x: hidden;
  }

  .header__title,
  .header__button {
    grid-column: 2 / 7;
    align-self: center;
    font-size: clamp(var(--font-18), 2.5vw, var(--font-36));
  }

  .header__title {
    grid-row: 3;
    padding-block: var(--gap-48) var(--gap-80);
    font-weight: 400;
    line-height: 1.4;
  }

  .header__button {
    grid-row: 4;
    justify-self: flex-start;
    padding-inline: var(--gap-24);
    padding-block: var(--gap-16);
    position: relative;
    top: 0;
    background-color: var(--bg-black);
    border-color: var(--color-purpul);
    border-width: 4px;
    border-style: solid;
    border-radius: var(--border-corner-16);
    text-transform: uppercase;
    transition: all var(--transition-01) ease-in-out;
  }

  .header__button::after {
    content: "";
    position: absolute;
    inline-size: calc(100% + 3px);
    block-size: calc(100% + 3px);
    inset-block-start: 1.5rem;
    inset-inline-start: 1.5rem;
    border-color: var(--color-pink);
    border-width: 4px;
    border-style: solid;
    border-radius: inherit;
    transition: all var(--transition-01) ease-in-out;
    pointer-events: none;
    z-index: -1;
  }

  .header__button:active {
    top: 0.25rem;
  }

  .header__button:hover {
    color: var(--color-purpul);
  }

  .header__button:active::after {
    inset-block-start: 1rem;
    inset-inline-start: 1rem;
  }

  /* MEDIA QUERIES */
  @media screen and (max-width: 960px) {
    .header {
      block-size: 100%;
      grid-template-rows: 35vh repeat(3, min-content) 30vh;
    }
    .header__title,
    .header__button {
      grid-column: 2 / -2;
      align-self: center;
      font-size: clamp(var(--font-18), 4vw, var(--font-36));
    }
  }

  @media (max-width: 559px) {
    .header__daisy-flower {
      grid-column: 5;
      inline-size: 200px;
      inset-inline-start: 30%;
    }
    .header__title {
      padding-block: var(--gap-32) var(--gap-48);
    }
  }
</style>
